.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  height: 8vh;
}

.searchbar {
  flex: 1;
  /* Add additional styling for the search bar */
}

.links {
  display: flex;
  align-items: center;
}

.links a {
  display: inline-block;
  margin-left: 16px;
  font-weight: 600;
  color: rgba(11, 31, 181, 1);
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}
